<div class="container">
    <div class="single-heading">
        <h2>Form</h2>
        <h4>Application pre-filled with EDH!</h4>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <p style="text-align:center;">Confirm your details below and click "Submit Application".</p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-12 col-lg-5 form-box mb-4">
            <h3>Corporate Information</h3>
            <hr>
            <div class="form-group">
                <label>UEN <span style="color:red">*</span></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="uen" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Entity Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="entity-name" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Entity Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="entity-type" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Entity Status</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="entity-status" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Registered Address</label>
                <div class="input-group">
                    <textarea cols="50" rows="3" name="enregadd"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label>Registration Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="registration-date" placeholder="" required="">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Primary SSIC</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="primary-ssic" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Secondary SSIC</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="secondary-ssic" placeholder="" required="">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Appointment 1 - Position</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="position" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Appointment 1 - NRIC/UEN</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="appoint-ic-uen" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Appointment 1 - Full Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="appoint-name" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Appointment 1 - Appointment Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="appoint-date" placeholder="" required="">
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a href="#" class="btn2">Submit Application</a>
        </div>
    </div>
</div>