<div class="container">
    <div class="single-heading">
        <h2>Form</h2>
        <h4>Application pre-filled with EDH!</h4>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <p style="text-align:center;">Confirm your details below and click "Submit Application".</p>
            <p style="text-align:center;" id="num-records-SHA"></p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-12 col-lg-5 form-box mb-4">
            <h3>Shareholder Information</h3>
            <hr>
            <div class="form-group">
                <label>UEN</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="uen" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Active</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="active" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Allocation</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="allocation" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Category</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="category" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Currency</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="currency" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Share Group</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="share-group" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Share Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="share-type" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Shareholder ID Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="id-no" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Shareholder ID Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="id-type" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Shareholder Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Shareholder Nationality</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="nationality" placeholder="" required="">
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a href="#" class="btn2">Submit Application</a>
        </div>
    </div>
</div>